.accordion {
  width: 100%;
  max-width: 540px;
  margin: 18px auto;
}
.accordion-heading {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.accordion-container {
  cursor: pointer;
  width: 100%;
  max-width: 480px;
  margin: auto;
}
.accordion-heading .accordion-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .accordion-heading span p {
  cursor: pointer;
} */
.accordion-content {
  display: flex;
  max-height: 0;
  transition: all 400ms ease-out;
  overflow: hidden;
  opacity: 0;
}
.accordion-content-show {
  max-height: 500px;
  transition: all 400ms ease-out;
  opacity: 1;
}

/*  Small devices (landscape phones) */
@media screen and (min-width: 300px) and (max-width: 600px) {
  .accordion-content p {
    margin: 0.6rem;
    white-space: pre-wrap;
  }

  .border {
    border: 5px var(--mainBlue);
    border-radius: 5px;
    margin: 1rem 0;
    height: 2px;
    margin: 0 auto;
    background-color: var(--darkGrey);
    width: 98%;
  }
}
