.about-center {
  width: 80vw;
  margin: 0 auto;
}
.about-img {
  position: relative;
}
.about-img img {
  width: 100%;
  display: block;
  box-shadow: var(--mainBlue);
}
.about-img div {
  box-shadow: var(--mainBlue);
}
.border {
  border: 5px var(--mainBlue);
  border-radius: 5px;
  width: 100%;
  background-color: var(--mainBlue);
  height: 6px;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .about {
    padding: 2rem 0;
  }
  .about-img {
    margin: 1rem 0;
  }
  .border {
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
  }
}

/* Desktop */
@media screen and (min-width: 600px) {
  .about {
    padding: 4rem 0;
  }
  .about-img {
    margin: 3rem 0;
  }
  .border {
    margin-top: 1.1rem;
    margin-bottom: 2.3rem;
  }
}

@media screen and (min-width: 768px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
  .about-img,
  .about-info {
    margin: 0;
  }
  .about-img img {
    max-height: 500px;
  }
  .img-container {
    max-height: 500px;
  }
}
@media screen and (min-width: 992px) {
  .img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--mainBlue);
    box-sizing: border-box;
    top: -16px;
    left: -16px;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .about-center {
    width: 95vw;
    max-width: 1170px;
  }
}
