.contactEnd {
  padding: 4rem 0rem;
  background: var(--mainYellow);
}
.contactEnd-center {
  position: center;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}
.buttonDecorator {
  text-decoration: none;
  color: var(--mainWhite);
}
