.center {
  width: 80vw;
  margin: 0 auto;
}
.contact-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
}
.contact-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
}

@media screen and (min-width: 992px) {
  .center {
    width: 50vw;
    margin: 0 auto;
  }
}
.formControl,
.submit {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--darkGrey);
  border-radius: 0.25rem;
}
.submit {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  text-transform: uppercase;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  cursor: pointer;
}
.submit:hover {
  background: var(--darkGrey);
  color: var(--mainWhite);
  border-color: var(--darkGrey);
}
.border {
  border: 5px var(--mainBlue);
  border-radius: 5px;
  margin: 1rem 0;
  height: 6px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--mainBlue);
}

/* Mobile */
@media screen and (max-width: 600px) {
  .contact {
    padding: 1rem 0;
  }
  .contact div {
    margin-top: 0rem;
  }
}
/* Desktop */
@media screen and (min-width: 600px) {
  .contact {
    padding: 3rem 0;
  }
  .contact div {
    margin-top: 1rem;
  }
}
