.faq-center {
  margin: 0 auto;
  width: 80vw;
}
.faq-container {
  width: 100%;
  margin: auto;
}
.faq-category-title {
  color: var(--mainBlue);
  font-weight: bold;
}
/*  Small devices (landscape phones) */
@media screen and (min-width: 300px) and (max-width: 600px) {
  .faqs {
    margin: 1.5rem;
  }
  .faq-category-title {
    margin: 0.5rem;
    font-size: 1.3rem;
  }
}

/*  Large devices (large desktops) */
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .faqs {
    margin: 2rem;
  }
  .faq-container {
    max-width: 600px;
  }
  .faq-category-title {
    margin: 1rem;
    font-size: 1.65rem;
  }
}

/*  Extra large devices (extra large desktops) */
@media (min-width: 1200px) {
  .faqs {
    margin: 2rem;
  }
  .faq-container {
    max-width: 600px;
  }
  .faq-category-title {
    margin: 1rem;
    font-size: 1.65rem;
  }
}
