@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primaryColor: #7a7877;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainBlue: #42b4d3;
  --mainYellow: #f4e7bb;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  /*mainSpacing spaces out letters in words*/
  --mainSpacing: 1px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primaryColor);
  background: var(--mainWhite);
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* // Small devices (landscape phones) */
@media screen and (min-width: 300px) and (max-width: 600px) {
  body {
    line-height: 1.5;
    font-size: 0.86rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

/*  Large devices (large desktops) */
@media screen and (min-width: 600px) and (max-width: 1600px) {
  body {
    line-height: 1.5;
    font-size: 1rem;
  }
  p {
    margin-bottom: 0.85rem;
  }
}

/*  Extra large devices (extra large desktops) */
@media (min-width: 1600px) {
  body {
    line-height: 1.7;
    font-size: 1.2rem;
  }
  p {
    margin-bottom: 1.25rem;
  }
}
