.packages {
  background: var(--mainWhite);
  padding: 3rem 0;
}
.packages div {
  margin-top: 1rem;
}
.packages-center {
  width: 80vw;
  margin: 0 auto;
}
.package {
  margin: 2rem 0;
  text-align: center;
}
.package-title {
  text-align: center;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .packages {
    padding: 1rem 0;
  }
  .package-title {
    margin: 0.5rem;
    font-size: 1.65rem;
  }
  .package-description {
    padding-left: 2rem;
    border: 20px;
    border-radius: 20px;
  }
  .package-options-description {
    margin-top: 4rem;
    text-align: center;
    border: 20px;
    border-radius: 20px;
  }
}

/* Desktop */
@media screen and (min-width: 600px) {
  .packages {
    padding: 3rem 0;
  }
  .package-title {
    margin: 1rem;
    font-size: 1.65rem;
  }
  .package-description {
    padding-left: 1.7rem;
    font-size: 1rem;
    border: 20px;
    border-radius: 20px;
  }
  .package-options-description {
    margin-top: 4rem;
    text-align: center;
    font-size: 1rem;
    border: 20px;
    border-radius: 20px;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .packages-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(365px, 2fr));
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .packages-center {
    width: 95vw;
    max-width: 1170px;
  }
}
