.service-center {
  width: 80vw;
  margin: 0 auto;
}
.service-title {
  text-align: center;
}
.service-description {
  white-space: pre-wrap;
}

/*  Small devices (landscape phones) */
@media screen and (min-width: 300px) and (max-width: 600px) {
  .services {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .service-title {
    margin: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .service-description {
    margin: 0.6rem;
    margin-bottom: 3rem;
  }
}

/*  Large devices (large desktops) */
@media screen and (min-width: 600px) and (max-width: 1600px) {
  .service-center {
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
  }
  .services {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .service-title {
    margin: 0.5rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .service-description {
    margin: 1rem;
    margin-bottom: 3rem;
  }
}

/*  Extra large devices (extra large desktops) */
@media (min-width: 1600px) {
  .service-center {
    width: 95vw;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
  .services {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .service-title {
    margin: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.6rem;
  }
  .service-description {
    margin: 1.2rem;
    margin-bottom: 4rem;
  }
}
